.new{
    width: 50%;
    border: 1px solid lightgrey;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 10rem auto;
    padding: 2rem;
}

.new-input{
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.new-btn {
    padding: 0.8rem 1.5rem;
    width: 100%;
    margin:  2rem 1.3rem 2rem 0;
    background-color:#37d7e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
}

.new-h2{
    color: #7a32c2;
}
